<% if @user.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger">
            以下の<%= @user.errors.count %>つの項目で誤りがあります。
        </div>
        <ul>
            <%# 表示されるエラーメッセージを一つ一つに分解し表示 %>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>