<footer class="footer">
    <small>
        <a href="https://twitter.com">twitter</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "twitterについて", about_path %></li>
            <li><%= link_to "お問い合わせ", contact_path %></li>
        </ul>
    </nav>
</footer>